---
title: AADDVENTURE TIME :D
body_class: index
---
:sass
  .entryPreview
    height: 136px
    padding: 0px
    img
      float: left
      height: 136px
    h3
      margin-left: 20px
      margin-top: 12px
      float: left
  #header
    position: absolute
    top: 20px
    left: 280px
    ul
      margin: 0px
      padding: 0px
      box-shadow: none
      -webkit-box-shadow: none
      -moz-box-shadow: none
      li
        float: left
        display: block
        a
          color: #000
          text-decoration: none
        a:hover
          color: #222
    h1
      margin-left: 6px
      
#header
  %ul
    %li
      %a{:href => "/hiddensecrets/adventuretime/"}
        %h1
          Adventure Time > 
    %li
      %a{:href => "/hiddensecrets/adventuretime/"}
        %h1
          Season 5
#blogContainer
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.with.Finn.and.Jake.S05E01.720p.HDTV.DD5.1.x264-DWJ.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview1.jpg"
      %h3 Finn the Human
      .date
        Episode 1
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.with.Finn.and.Jake.S05E02.720p.HDTV.DD5.1.x264-DWJ.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview2.jpg"
      %h3 Jake the Dog
      .date
        Episode 2
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E03.Five.More.Short.Graybles.720p.HDTV.DD5.1.x264-DWJ.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview3.jpg"
      %h3 Five More Short Graybles
      .date
        Episode 3
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e04.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview4.png"
      %h3 Up A Tree
      .date
        Episode 4
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e05.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview5.jpg"
      %h3 All the Little People
      .date
        Episode 5
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e06.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview6.png"
      %h3 Jake the Dad
      .date
        Episode 6
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.507.720p.hdtv.x264-sys.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview7.png"
      %h3 Davey
      .date
        Episode 7
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e08.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview8.png"
      %h3 Mystery Dungeon
      .date
        Episode 8
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e09.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview9.jpg"
      %h3 All Your Fault
      .date
        Episode 9
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e10.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview10.jpg"
      %h3 Little Dude
      .date
        Episode 10
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.with.finn.and.jake.s05e11.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview11.jpg"
      %h3 Bad Little Boy
      .date
        Episode 11
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e12.720p.hdtv.x264-orenji.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview12.png"
      %h3 Vault of Bones
      .date
        Episode 12
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e13.720p.hdtv.x264-orenji.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview13.png"
      %h3 The Great Bird Man
      .date
        Episode 13
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e14.simon.and.marcy.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview14.png"
      %h3 Simon & Marcy
      .date
        Episode 14
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e15.720p.hdtv.x264-orenji.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview15.png"
      %h3 A Glitch Is A Glitch
      .date
        Episode 15
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e16.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview16.png"
      %h3 Puhoy
      .date
        Episode 16
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E17.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview17.png"
      %h3 BMO Lost
      .date
        Episode 17
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e18.proper.720p.hdtv.x264-2hd.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview18.jpg"
      %h3 Princess Potluck
      .date
        Episode 18
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E19.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview19.jpg"
      %h3 James Baxter The Horse
      .date
        Episode 19
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e20.720p.hdtv.x264-orenji.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview20.png"
      %h3 Shh!
      .date
        Episode 20
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E21.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview21.png"
      %h3 The Suitor
      .date
        Episode 21
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E22.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview22.jpg"
      %h3 Party's Over
      .date
        Episode 22
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E23.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview23.jpg"
      %h3 One Last Job
      .date
        Episode 23
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E24.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview24.png"
      %h3 Another Five More Short Graybles
      .date
        Episode 24
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E25.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview25.jpg"
      %h3 Candy Streets
      .date
        Episode 25
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E26.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview26.png"
      %h3 Wizards Only, Fools
      .date
        Episode 26
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/adventure.time.s05e27.720p.hdtv.x264-w4f.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview27.jpg"
      %h3 Jakesuit
      .date
        Episode 27
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure.Time.S05E28.720p.HDTV.x264-EVOLVE.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview28.png"
      %h3 Be More
      .date
        Episode 28
  .entryPreview
    %a.noDecoration{:href => "/hiddensecrets/adventuretime/src/Adventure%20Time%20S05E29%20Sky%20Witch%20(1280x720)%20[Phr0stY]%20.mkv"}
      = image_tag "hiddensecrets/adventuretime/preview29.png"
      %h3 Skywitch
      .date
        Episode 29

